header{
    width: 500px;
    height: 300px;
    border-radius: 50px;
    color: red;
    opacity: 0.2;
}
body{
    background-color: antiquewhite;
text-align: justify;
font-size: 20px;
color: rgb(52, 8, 248);
}
